

/* Général */
body {
	color: #546E7B;
	background: #FFFFFF;
}
a {color: #546E7B;}
a:hover, a:focus {color: #77858C;}

.b{color :#3a3a3a;}
.b:hover, b:focus{color: #008BD2;}


strong {
	color: #546E7B;
}

/* --- POSITIONNEMENT --- */

/* Page */
body {
	padding: 0px 170px;
}
#global {
	max-width: 1000px; 
	margin: 0 auto; 
}

/* En-tête */

header {
	padding: 20px 20px 20px 0;
}
header h1 {
	margin: 2%;
	margin-left: 30%;
}
header h1 img {
	float: left;
	margin: 7px 20px 10px 0;
}
header .sous-titre {
	margin: 4px 0 15px 0;
}
header h2	 {
	margin: 2%;
	margin-left: 47%;
}

.logo{
float:left;
max-width:30%;
min-width:280px !important;
height:auto;
display:block;
margin: 0 10px 10px 10px;
}


/* Bloc central contenant section  */
#conteneur {
	width: 100%; 

	display:table;
	height:auto;
}
.gauche { 
 float:left;

  width:69%;

  top:10px;
  bottom:10px;

}
.droite { 
	float:right;

  top:10px;

  bottom:10px;
  width: 30%;

}
/* Contenu principal */

	/* accordion */
	
.accordion {
	background-color: #d1d1d1;
	font-size: 1.36em;
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: normal;
	color :#546E7B;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	transition: 0.7s;
}

.active, .accordion:hover{
	background-color: #546E7B;
	color: #d1d1d1;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: #E9EDEF;
}

.panel.show {
    display: block !important;
}

.accordion:after{
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #546E7B;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  color: #E9EDEF;
}

/* class hr */

.hr{
  margin: 0;
  height: 5px;
  background-color: #008BD2;
  border: none; /*on supprime le style par défaut*/
}

.hracc{
  margin: 0;
  height: 2px;
  background-color: #008BD2;
  border: none; /*on supprime le style par défaut*/
}

/* Menu de navigation */

#menu_horizontal
{
	width: 100%;
	clear:both;
	margin-top:15px;
}

#menu_horizontal ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#menu_horizontal ul a
{
	display:block;
	background: #d1d1d1;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 35px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

nav a {
	color: #546E7B;
	transition: 0.7s;
}

nav a:hover, nav a:focus,nav a.actif {
	background: #000000;
	color: #d1d1d1;

}

#menu_horizontal ul:hover a
{
	background: #546E7B;
}


#menu_horizontal ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}



#menu_horizontal ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	z-index: 999;
	padding:0;
}

#menu_horizontal ul ul li
{
	float:none;
	width:200px;
}

#menu_horizontal ul ul a
{
	line-height:120%;
	padding:10px 15px;
}

#menu_horizontal ul ul ul
{
	top:0;
	left:100%;
}

#menu_horizontal ul li:hover > ul
{
	display:block;
}

/* Contenu */

section p, section li {
	line-height: 1.5;
}

/* Pied de page */
footer {
	margin: 0;
	padding: 15px 20px 10px 0;
	font-size: .85em;
}

/* Mention de copyright */
#copyright {
	margin: 8px 0 0 0;
	font-size: 1em;
	text-align: left;
}

