

/* Général */
body {
	color: #546E7B;
	background: #FFFFFF;
}
a {
	color: #546E7B;
}
a:hover, a:focus {
	color: #77858C;
}
strong {
	color: #546E7B;
}

/* --- POSITIONNEMENT --- */

/* Page */
body {
	padding: 0px 170px;
}
#global {
	max-width: 1000px; 
	margin: 0 auto; 
}

/* En-tête */

header {
	padding: 20px 20px 20px 0;
}
header h1 {
	margin: 2%;
	margin-left: 30%;
}
header h1 img {
	float: left;
	margin: 7px 20px 10px 0;
}
header .sous-titre {
	margin: 4px 0 15px 0;
}
header h2	 {
	margin: 2%;
	margin-left: 47%;
}

.logo{
float:left;
max-width:30%;
min-width:280px !important;
height:auto;
display:block;
margin: 0 10px 10px 10px;
}


/* Bloc central contenant section  */
#conteneur {
	width: 100%; 

	display:table;
	height:auto;
}
.gauche { 
 float:left;

  width:69%;

  top:10px;
  bottom:10px;

}
.droite { 
	float:right;

  top:10px;

  bottom:10px;
  width: 30%;

}
/* Contenu principal */

	/* association */
	
section {
	color: #E9EDEF;
	background: #FFFFFF;
	display:table-cell;	
	height:100%;
	overflow:auto;

}
	/* accordion */
	
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
/* Menu de navigation */

hr{
  margin: 0;
  height: 5px;
  background-color: #008BD2;
  border: none; /*on supprime le style par défaut*/
}

#menu_horizontal
{
	width: 100%;
	clear:both;
	margin-top:15px
}

#menu_horizontal ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#menu_horizontal ul a
{
	display:block;
	background: #E9EDEF;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

nav a {
	color: #546E7B;
}

nav a:hover, nav a:focus,nav a.actif {
	background: #000000;
	color: #E9EDEF;

}

#menu_horizontal ul:hover a
{
	background: #546E7B;
}


#menu_horizontal ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}



#menu_horizontal ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
z-index: 999;
	padding:0;
}

#menu_horizontal ul ul li
{
	float:none;
	width:200px;
}

#menu_horizontal ul ul a
{
	line-height:120%;
	padding:10px 15px;
}

#menu_horizontal ul ul ul
{
	top:0;
	left:100%;
}

#menu_horizontal ul li:hover > ul
{
	display:block;
}

/* Carte */

.st3 {
    font-size: 14;
}
.st2 {
    fill: #FFFFFF;
    cursor: pointer;
}
.st1 {
    font-family: 'poppinsmedium';
}


/* Contenu */

section p, section li {
	line-height: 1.5;
}

/* Pied de page */
footer {
	margin: 0;
	padding: 15px 20px 10px 0;
	font-size: .85em;
}

/* Mention de copyright */
#copyright {
	margin: 8px 0 0 0;
	font-size: 1em;
	text-align: left;
}

