RewriteEngine on

RewriteBase /reposGitCCCD/Liste_Associations_Commune_Carte_CCCD/

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [QSA,L]

